.menu{
    font-size:15px;
    

   }
   body{
    background: linear-gradient(90deg,
    #fb3 15%, #655 0, #655 40%,
    #ab4 0, #ab4 65%, hsl(20, 40%, 90%) 0);
    background-size: 80px 100%;
   }
   a{
     padding:25px;
   }
   .jumbotron{
;   
    text-align:center;
    height: 35px;
    border-radius: 6px;
   
    margin-left: 200px;
   }