<html>
<head>
    <link rel="stylesheet" href="{{url_for('static',filename='bootstrap.min.css')}}">
    <title>
      {% block title %}
         {% if title %}

            Dairy :{{title}}
         
         {% else %}
           Dairy
           {%endif%}
      {% endblock title %}
    </title>
    <link rel="stylesheet" href="{{url_for('static',filename='main.css')}}">
</head> 
<body>

<div class="container">
        <div class="jumbotron">
             <h3>Diary :{{title}}</h3>
             <div class="menu">
              <a name="" id="" class="btn btn-primary" href="/" role="button">Home</a>
                   
              <a name="" id="" class="btn btn-primary" href="/day" role="button">How's your day?</a>
            </div>
        </div>
        {% block content %}
        {% endblock content %}

</div>
    
</body>   
</html>